<div class="row">
  <h2><%= @student.batch.name %></h2>
  <div class="col-md-4">
    <h1><%= @student.first_name %> <%= @student.last_name %></h1>
    <hr>
    <h2>Evaluations</h2>
    <% @student.evaluations.each do |e| %>
      <p><%= e.remarks %></p>
    <% end %>
  </div>
</div>
