<h2>All batches</h2>
<hr>
<p><%= link_to "Add new batch", new_batch_path, class: "btn btn-default" %></p>
<hr>
<div class="row">
  <% @batches.each do |batch| %>
    <h4 class="card-title"><%= link_to batch.name, batch_path(batch) %></h4>
  <% end %>
</div>
