@import "bootstrap-sprockets"
@import "bootstrap"


.student-evaluations p:last-child
  display: none

/*flash*/
.alert-error
    background-color: #f2dede
    border-color: #eed3d7
    color: #b94a48
    text-align: left

.alert-alert
    background-color: #f2dede
    border-color: #eed3d7
    color: #b94a48
    text-align: left

.alert-success
    background-color: #dff0d8
    border-color: #d6e9c6
    color: #468847
    text-align: left

.alert-notice
    background-color: #dff0d8
    border-color: #d6e9c6
    color: #468847
    text-align: left

.batches p
  font-weight: bold

  span
    font-weight: normal

label
  padding-left: 30px
  font-size: 14px
  cursor: pointer
  display: block

label:before, label:after
  font-size: 25px
  background: green
  display: none
  position: inherit
  top: 0
  left: 0
label:before
  content: ""
  display: inline-block
  width: 30px
  height: 30px

label:after
  content: ""
  display: inline-block
  width: 30px
  height: 30px
  overflow: hidden
  opacity: 0.5

input[type="checkbox"]
  display: none
  &:checked + label:after
    background: #ededed
    opacity: 1
